# test-run artifacts
results/
tmp/

# account credentials
lib/browserstack_credentials.rb
.env
.env.devqa
.env.staging
.env.training
.env.prod

# OS X system files
.DS_Store
.byebug_history

# workstation files
.idea
.ruby-gemset
